button{
    cursor: pointer;
}
button:focus{
    outline: none;
}

.btn:focus{
    outline: none;
    box-shadow: none;
}

.btn-dark:focus{
    outline: none;
    box-shadow: none;
}

.btn-danger:focus{
    outline: none;
    box-shadow: none;
}

.tableRow{
    cursor: pointer;
}

.tableRowSelected{
    background-color: rgba(0, 0, 0, 0.03);
}

.tableRow:hover{
    background-color: rgba(0, 0, 0, 0.03);
}

.tableRow:active{
    background-color: rgba(0, 0, 0, 0.03);
}

.button{
    border: none;
    background-color: #ffffff;
    border-radius: 3px;
    margin: 3px;
    padding: 7px;
}

.prevButton, .nextButton{
    font-weight: bold;
}

.activePage {
    background-color: rgba(0, 0, 0, 0.06);
}

.selectRowsQuantityLabel{
    line-height: 2.5;
}

.filterWrapper, .inputsWrapper{
    display: flex;
}

@media(min-device-width : 375px){
    .button{
        margin: 3px;
        padding: 10px;
    }
}

@media(min-device-width : 768px){
    .button{
        margin: 5px;
        padding: 15px;
    }
}

@media(min-device-width : 1100px){
    .custom-form-row, .form-control, .custom-select{
        width: auto;
    }
}