.calendar{
    margin: 0;
 }

.calendar__header{
    display: flex;
    justify-content: space-between;
    padding: 20px 20px 20px 20px;
    height: 70px;
    background-color: #f4f4f4;
    -webkit-box-shadow: 0 10px 13px -9px rgba(0,0,0,.3);
    box-shadow: 0 10px 13px -9px rgba(0,0,0,.3);
}

.calendar__update-btn{
    display: none;
    opacity: 0;
    color: #fff;
    background-color: #0271c7;
    border: none;
    border-radius: 2px;
    padding: 0 15px 0 15px;
}

.calendar__search{
    padding: 0 30px 0 30px;
    height: 30px;
    position: relative;
}

.calendar__search-icon{
    display: inline-block;
    vertical-align: middle;
    height: 30px;
    width: 30px;
    background: url("../images/search.png") no-repeat;
    background-size: contain;
}

.calendar__search[type="text"]::-webkit-input-placeholder{
    color: #d9d9d9;
    font-family: 'Source Sans Pro', sans-serif;
}

.calendar__search[type="search"]::-moz-placeholder {
    color: #d9d9d9;
    font-family: 'Source Sans Pro', sans-serif;
}

.date{
    margin: 15px 40px 15px 40px;
}

.date__text-container{
    width: 120px;
    text-align: center;
    display: inline-block;
    vertical-align: bottom;
    line-height: 1;
}

.date-btn{
    border: 1px solid #bebebe;
    border-radius: 3px;
    padding: 8px;
}

.date__prev{
    background: url("../images/arr-left.png") no-repeat;
    background-size: 10px;
    background-position: center;
}

.date__next{
    background: url("../images/arr-right.png") no-repeat;
    background-size: 10px;
    background-position: center;
}

.date__month, .date__year{
    display: inline-block;
    vertical-align: bottom;
    line-height: 1;
    font-weight: 600;
}

.calendar__week{
    display: flex;
    flex-wrap: wrap;
    margin: 0 20px 0 20px;
}

.calendar__week-day{
    flex-basis: 14.2857%;
    max-width: 14.2857%;
    display: inline-block;
}

.calendar__days-container{
    margin: 0 20px 0 20px;
    display: flex;
    flex-wrap: wrap;
    border-right: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
}

.calendar__search-result{
    display: none;
}

.calendar__search-result--active{
    background: #fff;
    width: 40%;
    height: 40%;
    overflow-y: scroll;
    padding: 20px;
    display: inline-block;
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 0;
    right: 0;
    top: 80px;
    margin: auto;
    -webkit-box-shadow: 0 10px 55px -5px rgba(0,0,0,.3);
    box-shadow: 0 10px 55px -5px rgba(0,0,0,.3);

}

.calendar__search-result-event{
    display: inline-block;
    list-style: none;
}

.calendar__day{
    flex-basis: 14.2857%;
    max-width: 14.2857%;
    display: inline-block;
    height: 100px;
    width: 100px;
    border-left: 1px solid #ebebeb;
    border-top: 1px solid #ebebeb;
    cursor: pointer;
    position: relative;
    word-wrap: break-word
}

.event-info-main{
    font-size: 0;
    background: mediumseagreen;
    border-radius: 50%;
    height: 5px;
    width: 5px;
    display: inline-block;
}

.event-info{
    font-size: 0;
}

.today{
    background: #f4f4f4;
}

.calendar__day:before{
    content: "";
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}

.calendar__day--event{
    background-color: #c2e4fe;
}

.calendar__day--selected{
    border: 2px solid #4c62eb;
}

.set-event{
    /*display: none;*/
}

.set-event--on{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 2;
    height: 100vh;
    width: 100%;
}

.set-data-form{
    background: white;
    padding: 20px;
    height: 350px;
    width: 300px;
    -webkit-box-shadow: 0 10px 55px -5px rgba(0,0,0,.3);
    box-shadow: 0 10px 55px -5px rgba(0,0,0,.3);
}

.set-data-form input, textarea{
    width: 100%;
}

.set-data-form input{
    border: 1px solid #bebebe;
    margin-bottom: 5px;
}

.set-data-form textarea{
    margin: 30px 0 20px 0;
}

@media screen and (min-width: 768px){

}

@media screen and (min-width: 1200px){
    .calendar{
        margin: 0 130px 20px 130px;
    }

    .calendar__header{
        padding: 20px 40px 20px 40px;
        height: 70px;
    }

    .calendar__week{
        margin: 0 40px 0 40px;
    }

    .calendar__days-container{
        margin: 0 40px 0 40px;
    }

    .calendar__day{
        font-size: 13px;
    }

    .calendar__update-btn{
        opacity: 0;
        color: #fff;
        background-color: #0271c7;
        border: none;
        border-radius: 2px;
        display: inline-block;
        padding: 0 15px 0 15px;
    }

    .event-info-main{
        font-size: 13px;
        background: none;
        border-radius: 0;
        height: auto;
        width: auto;
        display: inline;
    }

    .event-info{
        font-size: 13px;
    }
}