
body{
    color:#333333;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

*:hover,
*:active,
*:focus {
    outline: 0;
}

a{
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); 
    -moz-tap-highlight-color: rgba(0, 0, 0, 0); 
    -ms-tap-highlight-color: rgba(0, 0, 0, 0); 
    -o-tap-highlight-color: rgba(0, 0, 0, 0); 
    text-decoration: none;
}

img{
    max-width: 100%;
    height: auto;
}

.page{
    overflow-x:hidden;
    background: #ffffff;
}

.indent-x{
    padding: 0 20px;
}

.indent-y{
    margin-top: 30px;
}

.header-block{
    background: url("../images/header-cover.jpg") no-repeat 0 0;
    min-width:100%;
    height: 610px;
    color:#f3f3f3;
    position: relative;
}

.logo-menu-wrapper{
    margin: 20px auto 35px;
   position: relative;
}

.logo{
    background: url("../images/logo.png") no-repeat 0 0;
    height: 20px;
    width: 180px;
    display: inline-block;
    vertical-align: baseline;
    margin-top: 5px;
}

.menu-icon-wrapper{
    font-size: 30px;
    display: block;
    vertical-align: top;
    position: absolute;
    top:0;
    right: 0;
}


.nav-list{
    position: absolute;
    z-index: -1;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 20px;
    opacity: 0;
}

.nav-item{
    list-style: none;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

.nav-link{
    color: #f3f3f3;
    background: rgba(255, 92, 88, 0.4);
    width: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
    display: block;
}

.on{
    
    
    line-height: 3;
    opacity: 1;
}

.off{
    position: absolute;
    z-index: -1;
}

.h1{
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin-bottom: 15px;
}

.btn{
    background: #f7564b;
    border: none;
    height: 43px;
    width: 100%;
    color:#ecf0f1;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); 
    -moz-tap-highlight-color: rgba(0, 0, 0, 0); 
    -ms-tap-highlight-color: rgba(0, 0, 0, 0); 
    -o-tap-highlight-color: rgba(0, 0, 0, 0); 

}

.header-btn{
    position: absolute;
    bottom: 0;
    left: 0;
}

.header-input{
    width:100%;
    position: absolute;
    bottom: 43px;
    left: 0;
}


.header-content-wrapper{
    position: relative;
}

.header-article{
    font-weight: 300;
}

.header-article-uppercase{
    text-transform: uppercase;
    font-weight: 700;
}

.card-grid-title{
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    position: relative;
    padding-bottom: 20px;
    margin-bottom:  30px;
}

.card-grid-title::before{
    content:"";
    position: absolute;
    height: 1px;
    width: 42px;
    background: #9a9a9a;
    bottom: 0;
    left: 0;
}

.card-img{
    width: 100%;
    height: auto;
}

.card-description{
    color:#999797;
    margin: 10px 0 35px;
}

.card-link{
    color:#383838;
    display: inline-block;
    margin-top: 10px;
}

.swiper-block{
    min-width: 100%;
    height: 350px;
    background: url("../images/slider-cover.jpg") no-repeat 0 0;
}

 .swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    padding: 20px;
    text-align: center;
    font-size: 13px;
    background: none;
    color: #f3f3f3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-pagination-bullet-active{
    background: #f3f3f3;
}

.swiper-uppercase{
    text-transform: uppercase;
}

.swiper-quote{
    font-weight: 200;
}

.form-control{
    display: block;
    width:100%;
}

.contacts-item{
    font-size: 14px;
    color: #888888;
    margin-bottom: 15px;
}

.form{
    overflow-x: hidden; 
}

.form-control{
    border: none;
    background: #ededed;
    width: 100%;
    display: block;
    min-height: 30px;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.form-control+.form-control{
    margin-top: 10px;
}

.form-block-title{
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.form-title{
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin-bottom: 10px;
    display: block;
}

.fa-heart{
    color: #f4728f;
}

.form-textarea{
    resize: none;
}

.footer{
    background: #333333;
    color:#f3f3f3;
    font-size: 12px;
    text-align: center;
    height: 100px;
}

.footer-copyright{
    margin-top: 20px;
}

.footer-about-designer{
    margin-top: 10px;
}


@media screen and (min-width: 768px){
    
    .container {
        width: 45rem;
    }

    .header-block{
        height: 520px; 
        padding-top: 30px;   
    }

    .header-form{
        margin-top: 50px;
    }

    .header-btn{
        position: static;
        display: inline-block;
        padding: 0 20px 0;
        width: auto;
        border-radius: 3px;
    }

    .header-input{
        width: auto;
        position: static;
        border-radius: 3px;
        display: inline-block;
        margin-right: 15px;
    }

    .card-grid-title {
        margin-bottom: 0;
    }

    .swiper-slide-content{
        padding: 140px
    }

    .form-control{
        width: auto;
        display: inline-block;
        border-radius: 5px;
    }

    .form-textarea{
        display: block;
        width: 400px;
    } 

    .form-input{    
        display: inline-block;
        width: 192px;
        margin-bottom: 15px;
    }

    .form-control+.form-control{
        margin-top: 0;
        margin-left: 0;
    }

    .form-input+.form-input{
        margin-left: 10px;
    }

    .form-btn{
        padding: 0 80px 0;
        margin-top: 15px;
    }

    .btn{
        width: auto;
        border-radius: 3px;
    }

    .contacts-col{
        text-align: right;
    }

    .footer{
        margin-top: 40px;
    }
}

@media screen and (min-width: 992px) {

    .container {
        width: 58rem;
    }

    .h1{
      font-size: 40px;
      margin-top: 30px;
    }

    .header-block{
        height: 650px;    
    }

    .header-article{
        font-weight: 300;
        font-size: 20px;
    }

    .on{
        margin-top: 80px;
    }

    .touch .btn:hover{
        background: #f7564b;
    } 

    .card-thumb{
        height: 300px;
        width: 100%;
        overflow: hidden;
        position: relative;
        text-align: center;
    }

    .card-img{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
    }

    .card{
        margin: 40px auto 40px;
        position: relative;
        height: 390px;
    }

    .swiper-slide-content{
        padding: 260px
    }


    .footer{
        font-size: 16px;
    }
   
}       

@media screen and (min-width: 1098px) {

    .container {
        width: 76rem;
    } 
    
    .indent-x{
        padding: 8px;
    }

    .h1{
        font-size: 60px;
        margin: 40px auto 30px;
        line-height: 1.1;
    }

    .header-block{
        padding-top: 70px;
        min-width:100%;
        height: 900px;
        position: relative;
        margin-bottom: 50px;
    }

    .logo-menu-wrapper{
        margin: 0 auto 35px;
    }

    .header-article{
        font-size: 24px;
        margin-bottom: 40px;
    }

    .btn{
        width: auto;
        border-radius: 3px;
    }

    .header-btn{
        position: static;
        display: inline-block;
        padding: 0 20px 0;
    }

    .btn:hover{
        background: #fc2618;
    }

    .header-input{
        width: auto;
        position: static;
        border-radius: 3px;
        display: inline-block;
        margin-right: 15px;
    }

    .trigger{
        display: none;
    }

    .nav-list{
        position: static;
        font-size: 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        opacity: 1;
    }

    .nav-item{
        list-style: none;
        width: auto;
        margin-bottom: 0;
        display: inline-block;

        
    }

    .nav-link{
        width: 100%;
        border-radius: 3px;
        display: block;
        padding: 10px 10px;
        background: none;
    }



    .nav-link:hover{
        background: rgba(255, 92, 88, 0.4);
    }

    .card-grid-title::before{
        height: 2px;
        width: 80px;
    }


    .card-grid-title{
        font-size: 36px;
        padding-bottom: 20px;
    }

    .card-thumb{
        height: 370px;
        width: 390px;
    }

    .card{
        margin: 40px auto 40px;
        position: relative;
        height: 500px;
    }

    .swiper-block{
        width:100%;
        height: 350px;
        margin: 20px 0 60px;
        
    }

    .swiper-slide{
        font-size: 16px;
    }

    .swiper-slide-content{
        padding: 380px
    }

    .form-block{
        margin: 40px auto 50px;
    }
    
    .form-title{
        color:#555555;
        font-size: 20px;
    }

    .form-block-title{
        font-size: 22px;
        font-weight: 700;
        margin-bottom: 70px;
        color: #666666;
        text-align: center;
    } 

    .form-control+.form-control{
        margin-top: 0;
    } 

    .form-control{
        width: auto;
        display: inline-block;
        border-radius: 5px;
    }

    .form-textarea{
        display: block;
        width: 440px;
    } 

    .form-input{
        display: inline-block;
        vertical-align: top;
        width: 211px;
        margin-bottom: 15px;
    }

    .form-input+.form-input{
        margin-left: 13px;
    }


    .form-btn{
        padding: 0 95px 0;
        margin-top: 15px;
    }

    .contacts-item{
        margin-bottom: 20px;
        font-size: 18px;
        text-transform: uppercase;
    }

    .contacts-col{
        text-align: right;
    }

    .footer-margin{
        margin-top: 0px;
    }

    .footer{
        font-size: 14px;
        height: 70px;
        padding: 20px;
    }

    .footer-copyright{
        text-align: left;
        margin-top: 0;
    }

    .footer-about-designer{
        text-align: right;
        margin-top: 0;
    }

}
