 @font-face {
			font-family: "MuseoSans";
			src: url("../fonts/MuseoSansRegular/MuseoSansRegular.eot");
			src: url("../fonts/MuseoSansRegular/MuseoSansRegular.eot?#iefix")format("embedded-opentype"),
			url("../fonts/MuseoSansRegular/MuseoSansRegular.woff") format("woff"),
			url("../fonts/MuseoSansRegular/MuseoSansRegular.ttf") format("truetype");
			font-style: normal;
			font-weight: 400;
	}

	@font-face {
			font-family: "MuseoSans";
			src: url("../fonts/MuseoSansBold/MuseoSansBold.eot");
			src: url("../fonts/MuseoSansBold/MuseoSansBold.eot?#iefix")format("embedded-opentype"),
			url("../fonts/MuseoSansBold/MuseoSansBold.woff") format("woff"),
			url("../fonts/MuseoSansBold/MuseoSansBold.ttf") format("truetype");
			font-style: normal;
			font-weight: 700;
	}

	@font-face {
			font-family: "MuseoSans";
			src: url("../fonts/MuseoSansItalic/MuseoSansItalic.eot");
			src: url("../fonts/MuseoSansItalic/MuseoSansItalic.eot?#iefix")format("embedded-opentype"),
			url("../fonts/MuseoSansItalic/MuseoSansItalic.woff") format("woff"),
			url("../fonts/MuseoSansItalic/MuseoSansItalic.ttf") format("truetype");
			font-style: italic;
			font-weight: 400;
	}

	@font-face {
			font-family: "MuseoSans";
			src: url("../fonts/MuseoSansLight/MuseoSansLight.eot");
			src: url("../fonts/MuseoSansLight/MuseoSansLight.eot?#iefix")format("embedded-opentype"),
			url("../fonts/MuseoSansLight/MuseoSansLight.woff") format("woff"),
			url("../fonts/MuseoSansLight/MuseoSansLight.ttf") format("truetype");
			font-style: normal;
			font-weight: 300;
	}

	@font-face {
			font-family: "MuseoSans";
			src: url("../fonts/MuseoSansMedium/MuseoSansMedium.eot");
			src: url("../fonts/MuseoSansMedium/MuseoSansMedium.eot?#iefix")format("embedded-opentype"),
			url("../fonts/MuseoSansMedium/MuseoSansMedium.woff") format("woff"),
			url("../fonts/MuseoSansMedium/MuseoSansMedium.ttf") format("truetype");
			font-style: normal;
			font-weight: 500;
	}

	@font-face {
			font-family: "MuseoSans";
			src: url("../fonts/MuseoSansBoldItalic/MuseoSansBoldItalic.eot");
			src: url("../fonts/MuseoSansBoldItalic/MuseoSansBoldItalic.eot?#iefix")format("embedded-opentype"),
			url("../fonts/MuseoSansBoldItalic/MuseoSansBoldItalic.woff") format("woff"),
			url("../fonts/MuseoSansBoldItalic/MuseoSansBoldItalic.ttf") format("truetype");
			font-style: italic;
			font-weight: 700;
	}

	@font-face {
			font-family: "MuseoSans";
			src: url("../fonts/MuseoSansMediumItalic/MuseoSansMediumItalic.eot");
			src: url("../fonts/MuseoSansMediumItalic/MuseoSansMediumItalic.eot?#iefix")format("embedded-opentype"),
			url("../fonts/MuseoSansMediumItalic/MuseoSansMediumItalic.woff") format("woff"),
			url("../fonts/MuseoSansMediumItalic/MuseoSansMediumItalic.ttf") format("truetype");
			font-style: italic;
			font-weight: 500;
	}

	@font-face {
			font-family: "MuseoSans";
			src: url("../fonts/MuseoSansLightItalic/MuseoSansLightItalic.eot");
			src: url("../fonts/MuseoSansLightItalic/MuseoSansLightItalic.eot?#iefix")format("embedded-opentype"),
			url("../fonts/MuseoSansLightItalic/MuseoSansLightItalic.woff") format("woff"),
			url("../fonts/MuseoSansLightItalic/MuseoSansLightItalic.ttf") format("truetype");
			font-style: italic;
			font-weight: 300;
	}

body{
  font-family: "MuseoSansRegular",'Arial', sans-serif;
  font-size: 16px;
  line-height: 1.4;
}

img{
	max-width: 100%;
	height: auto;
}

.page {
  overflow-x: hidden;
	background: #f5f5f5;
}

*:hover,
*:active,
*:focus {
    outline: 0;
}

.list-unstyle{
  list-style: none;
}

a{
  text-decoration: none;
  color:#000000;
}

.col-main{
	margin-left: -9px;
}

.menu-wrapper{
	position: relative;
    
}

/*.sub-menu {
	width: 100%;
    top: 50%;
    position: absolute;
    list-style: none;
    transition: all 0.3s ease-in;
    transform: translateX(0);
    background: #ffffff;

}*/

.sub-menu-list li+li{
	margin-top: 25px;
}

.sub-menu-list{
	padding: 30px;

}

.menu{
  border:  solid 1px;
  border-color: #e2e2e2;
  background: #ffffff;
  top: 0;
  overflow: hidden;
  height: auto;
}

.sub-menu.on{
	margin-top: 150px;
	height: auto;
	width: 100%;
    top: 50px;
    position: absolute;
    z-index: 10;
    list-style: none;
    background: #ffffff;
    opacity: 1;
}
.sub-menu{
	overflow: hidden;
	height: 0;
	opacity: 0;
}

.menu-item{
  border-bottom: solid 1px;
  border-color: #e2e2e2;
  display: block;
}

.menu-link{
	text-align: center;
	vertical-align: middle;
	width: 100%;
	padding: 4% 0 4%;
	display: inline-block; 
}

.btn-on{
	background: #f9f9f9;
}

.menu-item-logo{
	padding: 30px;
	font-size: 12px;
	color: #7e7e7e;
	text-align: center;
	display: inline-block;
}

.menu-item-logo div{
	display: inline-block;
}

.menu-item-phone-num{
	padding: 0;
	overflow: visible;
}

.logo{
  background: url("../images/logo.png") no-repeat 0 0;
  display: block;
  height: 50px;
  width: 170px;
}



a.btn,

.btn{
  border: 0;
  background-color: #005bac;
  color: #ffffff;
  font-size: 15px;
  vertical-align: middle;
  display: inline-block;
  overflow: hidden;
  cursor: pointer;
  text-overflow: ellipsis;
  text-decoration: none;
	font-weight: 700;
	position: relative;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.aside-button{
  background-color: #ee1b27;
  width: 100%;
  padding:20px;
}

.aside{
	position: relative;

}

.aside-phone-number{
	font-size: 20px;
	text-align: center;
	font-weight: 700;
	padding: 5vh 0 2vh;
}

.aside-phone-number-description{
	font-size: 12px;
	color: #7e7e7e;
}

.aside-button::before{
	content: url("../images/callback.png");
	display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}


.btn-load-obj{
	width: 100%;
	background: #ffffff;
	color: #000000;
	border: solid 1px #e2e2e2;
	padding: 12px;
	margin-bottom: 60px;
}

.btn-load-obj::before{
	content: url("../images/load.png");
	display: inline-block;
  vertical-align: middle;
  margin-right: 10px;

}

.btn-submit{
  width: 100%;
	padding: 17px 0 17px;

}

.btn-submit::before{
  content: url("../images/submit.png");
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
}

.titles{
	font-size: 24px;
	font-weight: 700;
	margin: 50px 0 25px;
}

.form-group label{
	margin: 0 5px 20px;
	font-size: 15px;
	font-weight: 700;
  display: block;
}

.form-group{
	margin-bottom: 20px;
}

select {
  -webkit-appearance: none;
  background-image: url('../images/arr-select.png');
  background-position: 95% 50%;
  background-repeat: no-repeat;
  line-height: 1em;
  /* for FF */
  -moz-appearance: none;
  text-indent: 0.01px; 
  text-overflow: '';
  /* for IE */
  -ms-appearance: none;
  appearance: none!important;
}
 
select::-ms-expand {
  display: none;
}

.select {
    display: inline-block;
    vertical-align: top;
    background: #fff;
    border:1px solid #eee;
    position: relative;
    min-width: 100%;
		width: 100%;
}

.select > select {
    border: 0;
    padding: 15px 15px;
    display: block;
    width: 100%;
		color: #4e4e4e;
}

.badge{
	display: inline-block;
	vertical-align: top;
}

.badge-list{
	position: absolute;
	color: #ffffff;
	font-size: 12px;
}

.badge-list li{
  margin-top: 15px;
}

.badge-blue{
  background: #005bac;
  padding: 7px 14px;
}

.badge-blue::before{
	  content: url("../images/ready.png");
	  display: inline-block;
	  vertical-align: sub;
	  margin-right: 8px;
}

.badge-green{
  background: #34a853;
	padding: 8px 14px;
}

.badge-green::before{
	content: url("../images/mortgage.png");
	display: inline-block;
	vertical-align: top;
	margin-right: 10px;
}

.badge-red{
  background: #ee1b27;
	padding: 7px 14px;
}

.badge-red::before{
	content: url("../images/percent.png");
	display: inline-block;
	vertical-align: top;
	margin-right: 10px;
}

.map-marker{
	margin-top: 30px;
}

.map-marker::before{
	content: url("../images/location.png");
	display: inline-block;
	vertical-align: top;
	margin-right: 10px;
}

.card{
  position: relative;
  color: #ffffff;
}

.card-empty{
	position: relative;
	color: #000000;
}

.card-empty img{
	width: 100%;
	height: 100%;
}

.card img{
	width: 100%;
	height: 100%;
}

.card a{
	color: #ffffff;
}

.big-card-title{
	font-size: 24px;
	font-weight: 700;
}

.card-text{
  position: absolute;
	padding: 30px;
	left: 0;
	bottom: 0;
}

.price{
	font-size: 15px;
	font-weight: 300;
	margin-top: 15px;
}


.small-card-text{
	position: absolute;
	padding: 30px;
	left: 0;
	bottom: 0;
	margin-bottom: 5px;
}

.small-card-title{
	font-size: 20px;
	font-weight: 700;
	margin-bottom: 20px;
}

.news-card-text{
	position: absolute;
	padding: 30px;
	left: 0;
	bottom: 0;
	max-height: 100%;
}

.news-card-date{
	font-size: 12px;
	margin-bottom: 5px;
}

.news-card-title{
	margin-bottom: 65px;
	font-size: 20px;
	font-weight: 700;
}

.link-news {
	font-weight: 700;
	font-size: 15px;
}

.link-news-white{
	font-weight: 700;
	font-size: 15px;
}

.link-news-white::before{
	content: url("../images/arrr.png");
	display: inline-block;
	vertical-align: top;
	margin-right: 10px;
}

.link-news::before{
	content: url("../images/arrr-blue.png");
	display: inline-block;
	vertical-align: top;
	margin-right: 10px;
}

.link-all-news{
  display: inline-block;
	margin-top: 60px;
	text-align: right;
	font-size: 15px;
	font-weight: 700;
}

.link-all-news::before{
	content: url("../images/arr-news.png");
	display: inline-block;
  vertical-align: top;
  margin-right: 10px;
}

.form-background{
  background: #e6e6e6;
}

.footer{
  background: #005bac;
  color: #ffffff;
	font-size: 12px;
}

.footer-title{
	font-size: 15px;
	font-weight: 700;
	margin: 55px 0 15px;
}

.footer li{
	margin-bottom: 5px;
}

.footer ol{
	margin-bottom: 60px;
}

.footer-col-right {
	opacity: 0.6;
	font-weight: 100;
}

*[class*="col-padding"]{
	padding: 15px;
}

.form{
	background: #e6e6e6;
	position: relative;
    margin-left: -6px;
	padding-left: 15px;
}

.form::after{
	content: '';
	position: absolute;
	background: #e6e6e6;
	height: 100%;
	display: block;
	top:0;
	left: 100%;
  width: calc((100vw - 76rem) / 2);
}



html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}
.swiper-container {
    width: 500px;
    height: 300px;
    margin: 20px auto;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
        
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.noui-title{
	display: block;
	font-size: 15px;
	font-weight: 700;	
}

.noui-title-rub-sign{
	color: #7e7e7e;
	font-size: 15px;
	margin-bottom: 20px;
	display: block;
}

.noUi-base{
  height: 3px;
}

.slider{
  height: 3px;
  border: none;
  background: #dddddd;
}

.noUi-connect {
  background: #005bac;
}

.noUi-horizontal .noUi-handle {
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background: #005bac;
  border: none;
  margin-top: 2px;
  cursor: pointer;
  left:0;
}

.noUi-horizontal{
	width: 80%;
}

.noUi-handle{
	box-shadow: none;
}

.noUi-handle:before, .noUi-handle:after {
    display: none;
}


.crsl{
	
	overflow: hidden;

}



.gradient{
	background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(7,7,7,0) 21%, rgba(25,25,25,0.65) 75%, rgba(34,34,34,0.65) 100%);
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(7,7,7,0) 21%,rgba(25,25,25,0.65) 75%,rgba(34,34,34,0.65) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(7,7,7,0) 21%,rgba(25,25,25,0.65) 75%,rgba(34,34,34,0.65) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6222222',GradientType=0 );
	position: absolute;
	bottom: 0;
    left: 0;
	right: 0;
	height: 100%;
	width: 100%;
}

.card-shadow{
	background: rgba(0, 0, 0, 0.57);
	position: absolute;
	left: 0;
	bottom: 0;
	height: 100%;
	width: 100%;
}

.card-empty {
	color: #000000;
}

.carousel-content{
	text-align: center;
	padding: 0 40px 120px ;
	position: absolute;
    left: 0;
    bottom: 0;
	color: #ffffff;
	display: inline;
}

.carousel-text-title{
	font-size: 18px;
	font-weight: 700;
}

.carousel-text{
	font-size: 10px;
}    

.carousel-content a{
	color: #ffffff;
}

.btn-carousel{
	width: 100%;
	padding: 15px 26px;
	border-radius: 1px;
	position: absolute;
	bottom: 0;
	z-index: 2;
}

.btn-carousel::before{
	content: url("../images/arrr.png");
	display: inline-block;
  vertical-align: top;
  margin-right: 10px;
}

.carousel-box img{
	width: 100%;
	height: 100%;
}

.swiper-slide {
    text-align: left;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: left;
    -ms-flex-pack: left;
    -webkit-justify-content: left;
    justify-content: left;
    -webkit-box-align: left;
    -ms-flex-align: left;
    -webkit-align-items: left;
    align-items: left;
    position: relative;
}

.swiper-container{
	height: 100%;
	width: 100%;
	margin-top: 0;
	position: relative;
}

.carousel-box{
	height: 100%;
	width: 100%;
}

.noUi-tooltip{
	top: 10px;
    border: 0;
    background: none;
    font-size: 12px;
    color: #7e7e7e;
}


@media screen and (min-width: 768px) {
   

}


@media screen and (min-width: 960px) {





/*--------------------------------------------*/

     .menu-wrapper{
		position: fixed;
		height: 100vh;
	    z-index: 10;
	}
	.menu-wrapper.unfix{
		position: absolute;
		z-index:10;
	}

	.menu-wrapper{
		position: fixed;
		height: 100%;
     	width: 293px;
  	    z-index: 10;
	}

    .sub-menu {
		width: 100%;
		height: auto;
  	    top:0;
  	    position: absolute;
  	    list-style: none;
  	    transition: all 0.3s ease-in;
  	    transform: translateX(0);
  	    background: #ffffff;
        padding-bottom: 63px;
	}

	.menu{
  		border:  solid 1px;
 		 border-color: #e2e2e2;
 		 background: #ffffff;
         position: absolute;
         top: 0;
         transform: translateX(0);
         overflow: hidden;
  
    }

    .sub-menu.on{
	    transform: translateX(293px);
	    top: 0;
	    margin-top:0;
	    z-index: 0;
    }

    .row-unmargin{
	    margin-left: -23px;
    }

    .row-margin{
	    margin-left: 10px;
	    margin-right: -20px;
    }

    .menu-link{
	    text-align: left;
	    vertical-align: middle;
	    width: 100%;
	    padding: 17px;
	    display: inline-block; 
    }

    .sub-menu-list li+li{
	    margin-top: 25px;
    }

    .sub-menu-list{
	   padding: 30px;

   }

   .aside-button{
      background-color: #ee1b27;
      width: 100%;
      padding:20px;
    }

    .carousel-content{
	  padding: 120px 40px;
	  position: absolute;
      left: 0;
      bottom: 0;
	  color: #ffffff;
	  text-align: left;
    }

    .aside-phone-number{
	    font-size: 20px;
	    text-align: center;
	    font-weight: 700;
	    padding: 59px 0 10px;
     }

     .carousel-text-title{
	  font-size: 36px;
	  font-weight: 700;
    }
     
     .carousel-text{
	     font-size: 100%;
    } 

     .btn-carousel{
	   margin-top: 40px;
	   padding: 15px 26px;
	   border-radius: 1px;
	   position: absolute; 
	   bottom: 5%;
	   left: 4%;
	   z-index: 2;
	   width: auto;
     }
     
     .swiper-button-next {
	     background: none;
         top: 95%;
         left: 95%;
         width: 10px;
         height: 10px;  
     }

     .swiper-button-prev{
  	     background: none;
         left: 90%;
         top:95%;
         right: auto;
         width: 10px;
         height: 10px;
     }

     .swiper-button-next::before{
	     content: url(../images/arrr-transp.png);
     }

     .swiper-button-prev::before{
          content: url(../images/arrl-transp.png);
     }


}

@media screen and (min-width: 1098px) {
   
}




